/* ALL */
body {
  background-image: url(https://i.imgur.com/z7ECVID.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
.overall-site-border {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color:rgb(255, 255, 255, 0.1); */
}



/* HEADER */
.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: silver;
}
.nav-link {
  color:silver;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}
ul, li {
  list-style-type: none!important;
}
/* GREETER - Padding (located in all components) */
.greeter {
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: silver;
  width: 65%;
  margin: auto;
  padding: 60px 0px 40px 0px;
  border-bottom: solid 0.25px pink;
  border-top: solid 0.25px pink;
}

/* FOOTER */
.Footer {
  text-align: center;
  padding: 10px;
  color: silver
}


/* ABOUT ME */
.aboutMe {
  height: 75vh;
  color:silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: auto;
  padding: 60px 0px 40px 0px;
  border-bottom: solid 0.25px pink;
  border-top: solid 0.25px pink;

}



/* PROJECT */
.projects {
  height: 75vh;
  color: silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: auto;
  padding: 60px 0px 40px 0px;
  border-bottom: solid 0.25px pink;
  border-top: solid 0.25px pink;
}
.projects-flex {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.project-cards {
  height: 30vh;
  width: 225vw;
  border: 2px solid pink;
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}



/* CONTACT ME */
.contactMe {
  height: 75vh;
  color: silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: auto;
  padding: 60px 0px 40px 0px;
  border-bottom: solid 0.25px pink;
  border-top: solid 0.25px pink;

}